# Code
*.pyc
*.db*
*.npz
*.npy
*.graphml
/Code/results/*
*.egg-info*

# Paper
*.pdf
*.gz
*.bak
*.sav
*.log
*.aux
*.lof
*.lot
*.xml
*.toc
*.tdo
*-blx.bib
*.bbl
*.blg
*latexmk
*.fls
*.out
*.png
*.jpg
*.ini
*.docx
*.nav
*.snm
*.vrb
*.bcf
*.fff
*.vscode*