[default]
    # Rat HC CA! -> SUB, as Per Anderson HC book
    region_sizes = [303930, 347100]
    num_senders = [303930, 5]
    min_forward = [6305 , 0]
    max_forward = [6305 , 0]
    min_inter = [0.0005, 0.0005]
    max_inter = [0.003, 0.003]
    num_samples = [79, 79]
    num_iters = 20000
    connectivity_pattern = recurrent_connectivity
    connectivity_param_names = ["num_senders", "min_inter", "max_inter", "min_forward", "max_forward"]

[Setup]
    do_mpf = True
    do_graph = False
    do_nx = False
    do_vis_graph = False
    do_only_none = False
    gen_graph_each_iter = False