[default]
    # Rat HC CA! -> SUB, as Per Anderson HC book
    region_sizes = [1000, 1000]
    num_senders = [30, 80]
    min_forward = [50, 5]
    max_forward = [700, 40]
    inter_connections = [0.008, 0.012]
    num_samples = [20, 20]
    num_iters = 2
    connectivity_pattern = recurrent_connectivity
    connectivity_param_names = ["num_senders", "inter_connections", "min_forward", "max_forward"]

[Setup]
    do_mpf = False
    do_graph = False
    do_nx = False
    do_vis_graph = True
    do_only_none = False